@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background-color: #ccc;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 421px) {
	.update-btn,
	.delete-btn {
		width: 100%;
		margin: 4px 0;
	}

	.back-btn {
		width: 50%;
		margin: 10px 0 -5px 0;
	}
}
